@(activationForm: Form[ActivationController.ActivationAccount])
@import helper._
@main(title=Messages("activation")) {
	@if(activationForm.hasGlobalErrors) {
	<ul>
		@for(error <- activationForm.globalErrors) {
		<li>@error.format(messages())</li>
		}
	</ul>
	} else {
		@if(flash.get("message") != null){
	<p>@flash.get("message")</p>
		}
		<ul>
			<li>@Messages("アカウントは仮登録のままです。")</li>
			<li>@Messages("仮登録時に入力した仮登録コードと、仮登録メールに記載されている仮パスワードを入力してください。")</li>
		</ul>
		@form(routes.ActivationController.post) {
			@CSRF.formField
			@inputText(activationForm("emailAddress"))
			@inputText(activationForm("temporaryCode"))
			@inputText(activationForm("temporaryPassword"))
			<ul>
				<li>@Messages("ログイン用のパスワードを新たに設定してください。")</li>
			</ul>
			@inputPassword(activationForm("password"))
			<input type="submit" value="@Messages("本登録する")" >
		}
	}
}